<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="https://toppng.com/uploads/preview/technology-icon-orange-information-technology-icon-115535310117amjuxxw3e.png" width="30" height="30" class="d-inline-block align-top" alt="">
      TecnoCenter
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" type="button" (click)="gestion()">Gestionar Productos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" type="button" (click)="tienda()">Tienda</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <div class="row">
      <div class="col-md-12">
          <img src="assets/wallpaper1.jpg"  class="img-responsive fit-image" alt="">
          <h1 class="centered">TECNOCENTER</h1>
          <h3 class="centered2">Tu tienda digital</h3>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <!-- COMPONENTE GESTION PRODUCTOS  -->
          <app-productos [vista]="vistaSelected"></app-productos>
      </div>
      
  </div>
</div>



